<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
		 version="4.0">
	<display-name>distribucio</display-name>
	<login-config>
		<auth-method>KEYCLOAK</auth-method>
		<realm-name>Govern de les Illes Balears</realm-name>
	</login-config>
	<security-role>
		<role-name>IPA_SUPER</role-name>
	</security-role>
	<security-role>
		<role-name>IPA_ADMIN</role-name>
	</security-role>
	<security-role>
		<role-name>IPA_DISSENY</role-name>
	</security-role>
	<security-role>
		<role-name>IPA_ORGAN_ADMIN</role-name>
	</security-role>
	<security-role>
		<role-name>IPA_BSTWS</role-name>
	</security-role>
	<security-role>
		<role-name>IPA_API_HIST</role-name>
	</security-role>
	<security-role>
		<role-name>IPA_REVISIO</role-name>
	</security-role>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>All areas</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>**</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Public areas</web-resource-name>
			<url-pattern>/api</url-pattern>
			<url-pattern>/api/*</url-pattern>
			<url-pattern>/ws/v0/bustia</url-pattern>
			<url-pattern>/ws/v1/bustia</url-pattern>
			<url-pattern>/ws/MCGDws</url-pattern>
			<url-pattern>/ws/portafibCallback</url-pattern>
			<url-pattern>/ws/bantel</url-pattern>
			<url-pattern>/rest/notib</url-pattern>
			<url-pattern>/rest/notib/notificaCanvi</url-pattern>
			<url-pattern>/rest/portafib/v1/event</url-pattern>
		</web-resource-collection>
	</security-constraint>
	<jsp-config>
		<taglib>
			<taglib-uri>http://www.opensymphony.com/sitemesh/decorator</taglib-uri>
			<taglib-location>tags/sitemesh-decorator.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://www.opensymphony.com/sitemesh/page</taglib-uri>
			<taglib-location>tags/sitemesh-page.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://www.springframework.org/tags</taglib-uri>
			<taglib-location>tags/spring.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://www.springframework.org/tags/form</taglib-uri>
			<taglib-location>tags/spring-form.tld</taglib-location>
		</taglib>
	</jsp-config>
</web-app>
