BASE_URL=http://localhost:8080/ripeaback
REMITENT_EMAIL=example@host.es
MAIL_HOST=correu.host.es
MAIL_PORT=465
MAIL_USERNAME=proves_mail@host.es
MAIL_PASSWORD=******
MAIL_SSL=true
MAIL_TLS=true
CAPSALERA_LOGO=
INDEX_LOGO=
FRONT_API_URL=http://localhost:8080/ripeaback/api/
FILES_DIR=/opt/webapps/ripea/files
GESDOC_DIR=/opt/webapps/ripea/files/gesdoc
ENCRYPTION_KEY=***_AES_ENCRIPTION_KEY_***
PINBAL_URL=https://se.caib.es/pinbalapi
PINBAL_USERNAME=$ripea_pinbal
PINBAL_PASSWORD=******
KEYCLOAK_URL=https://auth.host.es/
KEYCLOAK_REALM=GOIB
KEYCLOAK_CLIENTID=goib-default
KEYCLOAK_CLIENTID_REST=goib-ws
LDAP_URL=https://auth.ldap.host.es/
LDAP_CREDENTIALS=******
LDAP_PRINCIPAL=cn=lectorenviafib,dc=caib,dc=es
KEYCLOAK_SECRET=******
DIR3_URL=https://se.caib.es/dir3caib
DIR3_USERNAME=$ripea_dir3caib
DIR3_PASSWORD=******
DIR3_CERCA_URL=https://se.caib.es/dir3caib/rest/busqueda/organismos
NOTIB_URL=https://se.caib.es/notibapi
NOTIB_USERNAME=$ripea_notib_se
NOTIB_PASSWORD=******
FIRMASERVIDOR_URL=https://se.caib.es/portafib/common/rest/apifirmaenservidorsimple/v1/
FIRMASERVIDOR_USERNAME=$ripea_portafib_se
FIRMASERVIDOR_PASSWORD=******
FIRMA_SIMPLE_ASYNC_URL=https://se.caib.es/portafib/common/rest/apifirmaasyncsimple/v2
FIRMA_SIMPLE_ASYNC_USERNAME=$ripea_portafib_se
FIRMA_SIMPLE_ASYNC_PASSWORD=******
FIRMA_SIMPLE_FLUX_URL=https://se.caib.es/portafib/common/rest/apiflowtemplatesimple/v1
FIRMA_SIMPLE_FLUX_USERNAME=$ripea_portafib_se
FIRMA_SIMPLE_FLUX_PASSWORD=******
FIRMA_USUARIS_ENTITAT_URL=https://se.caib.es/portafib/ws/v1/PortaFIBUsuariEntitat
FIRMA_USUARIS_ENTITAT_USERNAME=$ripea_portafib_se
FIRMA_USUARIS_ENTITAT_PASSWORD=******
FIRMA_SIMPLE_WEB_URL=https://se.caib.es/portafib/common/rest/apifirmawebsimple/v1/
FIRMA_SIMPLE_WEB_USERNAME=$ripea_portafib_se
FIRMA_SIMPLE_WEB_PASSWORD=******
ARXIU_URL=https://esbse.caib.es:4430/esb
ARXIU_USERNAME=ripea
ARXIU_PASSWORD=******
CONCSV_URL=https://se.caib.es/concsvfront/view.xhtml?hash=
CONCSV_IMPRIMIBLE_URL=https://se.caib.es/concsvapi/interna/printable/uuid
CONCSV_IMPRIMIBLE_USERNAME=$helium_concsv_se
CONCSV_IMPRIMIBLE_PASSWORD=******
DADESEXT_DIR3_URL=https://se.caib.es/dir3caib/ws/Dir3CaibObtenerCatalogos
DADESEXT_DIR3_REST_URL=https://se.caib.es/dir3caib/rest/catalogo/
DADESEXT_CAIB_URL=https://se.caib.es/dadescomunsfront
VALIDATE_SIGNATURE_URL=https://afirmades2.caib.es/afirmaws/services/DSSAfirmaVerify
VALIDATE_SIGNATURE_USERNAME=RIPEA
VALIDATE_SIGNATURE_PASSWORD=******
TRANSFORMERS_PATH=/opt/webapps/ripea/transformers
ROLSAC_URL=https://se.caib.es/rolsac2api/interna/services/v1/
ROLSAC_USERNAME=$ripea_rolsac2
ROLSAC_PASSWORD=******
VIAFIRMA_URL=https://host.viafirma.com/documents/api
VIAFIRMA_KEY=******
VIAFIRMA_SECRET=******
VIAFIRMA_CALLBACK_URL=https://callbacksviafirma.host.com/CallBackViaFirma
VIAFIRMA_CALLBACK_USERNAME=ripea-viafirma
VIAFIRMA_CALLBACK_PASSWORD=******
VIAFIRMA_PROXY_HOST=
VIAFIRMA_PROXY_PORT=
DISTRIBUCIO_URL=https://se.caib.es/distribucioapi/interna
DISTRIBUCIO_USERNAME=$helium_dis
DISTRIBUCIO_PASSWORD=******
DISTRIBUCIO_REGLA_URL=https://se.caib.es/distribucioapi/interna
DISTRIBUCIO_REGLA_USERNAME=dis_reglaws
DISTRIBUCIO_REGLA_PASSWORD=******
DIGITALIB_URL=https://digitalib-proves.host.com/digitalib
DIGITALIB_USERNAME=ripea-digitalib
DIGITALIB_PASSWORD=******
CONVERSIO_OPENOFICE_HOST=
CONVERSIO_OPENOFICE_PORT=
RESUM_URL=
RESUM_USERNAME=
RESUM_PASSWORD=
COMANDA_URL=https://se.caib.es/comandaapi/interna
COMANDA_USER=com_ws
COMANDA_PASSWORD=******
COMANDA_LOGS_PATH=/op/jboss-eap-7.2/standalone/log
REGWEB_URL=
REGWEB_USER=
REGWEB_PASSWORD=
REGWEB_TIMEOUT=