BASE_URL=
REMITENT_EMAIL=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SSL=
MAIL_TLS=
CAPSALERA_LOGO=
INDEX_LOGO=
FRONT_API_URL=
FILES_DIR=
GESDOC_DIR=
ENCRYPTION_KEY=
PINBAL_URL=
PINBAL_USERNAME=
PINBAL_PASSWORD=
KEYCLOAK_URL=
KEYCLOAK_REALM=
KEYCLOAK_CLIENTID=
KEYCLOAK_CLIENTID_REST=
LDAP_URL=
LDAP_CREDENTIALS=
LDAP_PRINCIPAL=
KEYCLOAK_SECRET=
DIR3_URL=
DIR3_USERNAME=
DIR3_PASSWORD=
DIR3_CERCA_URL=
NOTIB_URL=
NOTIB_USERNAME=
NOTIB_PASSWORD=
FIRMASERVIDOR_URL=
FIRMASERVIDOR_USERNAME=
FIRMASERVIDOR_PASSWORD=
FIRMA_SIMPLE_ASYNC_URL=
FIRMA_SIMPLE_ASYNC_USERNAME=
FIRMA_SIMPLE_ASYNC_PASSWORD=
FIRMA_SIMPLE_FLUX_URL=
FIRMA_SIMPLE_FLUX_USERNAME=
FIRMA_SIMPLE_FLUX_PASSWORD=
FIRMA_USUARIS_ENTITAT_URL=
FIRMA_USUARIS_ENTITAT_USERNAME=
FIRMA_USUARIS_ENTITAT_PASSWORD=
FIRMA_SIMPLE_WEB_URL=
FIRMA_SIMPLE_WEB_USERNAME=
FIRMA_SIMPLE_WEB_PASSWORD=
ARXIU_URL=
ARXIU_USERNAME=
ARXIU_PASSWORD=
CONCSV_URL=
CONCSV_IMPRIMIBLE_URL=
CONCSV_IMPRIMIBLE_USERNAME=
CONCSV_IMPRIMIBLE_PASSWORD=
DADESEXT_DIR3_URL=
DADESEXT_DIR3_REST_URL=
DADESEXT_CAIB_URL=
VALIDATE_SIGNATURE_URL=
VALIDATE_SIGNATURE_USERNAME=
VALIDATE_SIGNATURE_PASSWORD=
TRANSFORMERS_PATH=
ROLSAC_URL=
ROLSAC_USERNAME=
ROLSAC_PASSWORD=
VIAFIRMA_URL=
VIAFIRMA_KEY=
VIAFIRMA_SECRET=
VIAFIRMA_CALLBACK_URL=
VIAFIRMA_CALLBACK_USERNAME=
VIAFIRMA_CALLBACK_PASSWORD=
VIAFIRMA_PROXY_HOST=
VIAFIRMA_PROXY_PORT=
DISTRIBUCIO_URL=
DISTRIBUCIO_USERNAME=
DISTRIBUCIO_PASSWORD=
DISTRIBUCIO_REGLA_URL=
DISTRIBUCIO_REGLA_USERNAME=
DISTRIBUCIO_REGLA_PASSWORD=
DIGITALIB_URL=
DIGITALIB_USERNAME=
DIGITALIB_PASSWORD=
CONVERSIO_OPENOFICE_HOST=
CONVERSIO_OPENOFICE_PORT=
RESUM_URL=
RESUM_USERNAME=
RESUM_PASSWORD=
COMANDA_URL=
COMANDA_USER=
COMANDA_PASSWORD=
COMANDA_LOGS_PATH=
REGWEB_URL=
REGWEB_USER=
REGWEB_PASSWORD=
REGWEB_TIMEOUT=