# Maven 
target/

# eclipse project file
.settings/
.classpath
.project

CLAUDE.md
settings.local.json

# intellij files
.idea
*.iml
/republish.sh
/ripea-back/application.properties
/jboss.profile
/boot.profile
/ripea-back/src/main/webapp/reactapp/
/ripea-back/src/main/jsapp/ripea-back/public/build-info.json
/.env