.container-caib {
	width: 96% !important;
	padding-left: 60px !important;
	padding-right: 20px !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	min-width: 1000px;
}
.navbar-app {
	background-color: #ff9523;
	height: 110px;
	color: white;
}
.navbar-app .container {
	padding-right: 0;
	padding-left: 0;
}
.navbar-app .list-inline li {
	border-right: 1px solid white;
}
.navbar-app .list-inline li:last-child {
	border: none;
}
.navbar-app .list-inline li.dropdown>a {
	color: white;
	text-decoration: none;
}
.navbar-app .navbar-nav {
	padding-top: 16px;
}
.navbar-app .navbar-right {
	margin-right: 0;
}

#govern-logo {
	border-right: 1px solid #FFFFFF;
	display: block;
	padding: 0px 24px 0px 12px;
}
#app-logo {
	display: block;
	padding: 0 0 0 12px;
}

.container-main, .container-foot {
	padding-right: 0;
	padding-left: 0;
}
.container-main .panel-heading h2 {
	margin-top: 10px;
	margin-bottom: 0px;
}

.container-main>.panel-default {
	margin-bottom: 10px;
}

.container-nocappeus {
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.caret-white {
	border-top-color: white !important;
}

.pagination-datatable {
	margin-top: 4px !important;
}

#contingut-missatges .alert {
	padding: 10px 15px !important;
}
#contingut-missatges button.close-alertes {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    padding: 0;
}
#contingut-missatges .close-alertes {
    color: #000000;
    float: right;
    font-weight: bold;
    opacity: 0.2;
    text-shadow: 0 1px 0 #FFFFFF;
}

/*
 * webutil
 */
table.dataTable tr div.form-group {
	width: 100%;
}
table.dataTable tr .form-control {
	width: 100%;
}
table.dataTable tr input {
	font-weight: normal;
}
table.dataTable tr.datatable-dades-carregant div {
	width: 150px;
	height: 150px;
	border: 1px solid #ddd;
	border-radius: 1em;
	margin: 4em auto 4em auto;
	padding-top: 3.7em;
	text-align: center;
	background-color: white;
}
.ocult {
	display: none;
}

.comentari {
	font-size: 12px;
	color: #999;
	margin-bottom: 0px;
}

a.exemple_boto {
	margin-top: 2px;
	background-color: #d9d9d9;
}

div.exemple {
	display: none;
	margin-top: 2px;
}

.selection-disabled {
	pointer-events: none;
	opacity: .65;
}

.color-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 6px;
	border-radius: 8px;
	top: 2px;
	position: relative;
}

.no-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 6px;
	border: solid 1px #AAA;
	border-radius: 8px;
	top: 2px;
	position: relative;
	border: dashed 1px #AAA;
}

.color-legend {
	width: 18px;
	height: 18px;
	display: inline-block;
	border-radius: 11px;
}

.color-legend-min {
	width: 18px;
	height: 18px;
	display: inline-block;
	margin-right: 6px;
	border-radius: 11px;
	position: relative;
	top: -1px;
}

.avisCardHeader:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.avisCard {
	border-radius: 0.25rem;
	border-width: 1px;
	border-style: solid;
	margin-bottom: 3px;
}
.avisCardInfo {
	border-color: #bee5eb;
}
.avisCardWarning {
	border-color: #faebcc;
}
.avisCardError {
	border-color: #f5c6cb;
}
.avisCardHeader {
    padding: 5px;
    padding-left: 10px;
}
.avisCardBody {
	padding-left: 15px;
	padding-right: 10px;
	background-color: #fff;
}
.avisCardInfo .avisCardHeader{
	color: #0c5460;
	background-color: #d1ecf1;
}
.avisCardWarning .avisCardHeader {
	color: #8a6d3b;
	background-color: #fcf8e3;
}
.avisCardError .avisCardHeader {
	color: #721c24;
	background-color: #f8d7da;
}

.avisCardInfo button{
	color: #0c5460CC;
}
.avisCardWarning button{
	color: #8a6d3bCC;
}
.avisCardError button{
	color: #721c24CC;
}

.trace h3 {
	background: none repeat scroll 0 0 #FFFFFF;
	border-color: #EBCCD1;
	color: #A94442;
}

.trace .ui-widget-content {
	border-color: #EBCCD1;
	color: #A94442;
}